@define-color background-color #241b30;
@define-color border-pink #aa54f9;
@define-color border-magenta #b300ad;
@define-color label #00fbfd;
@define-color image #00fbfd;
@define-color progress #adad3e;

window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}

window:not(:backdrop) #container,
window:backdrop #container {
    border-radius: 0;
    border: none;
    border-width: 2px;
    background-color: transparent;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: none;
    background-image:
        linear-gradient(to bottom right, transparent 0 6px, @border-pink 6px, @border-magenta 10px, transparent 10px),
        linear-gradient(to bottom left, transparent 0 6px, @border-pink 6px, @border-magenta 10px, transparent 10px),
        linear-gradient(to top left, transparent 0 6px, @border-pink 6px, @border-magenta 10px, transparent 10px),
        linear-gradient(to top right, transparent 0 6px, @border-pink 6px, @border-magenta 10px, transparent 10px),
        linear-gradient(to bottom right, transparent 0 8px, @background-color 8px),
        linear-gradient(to bottom left, transparent 0 8px, @background-color 8px),
        linear-gradient(to top left, transparent 0 8px, @background-color 8px),
        linear-gradient(to top right, transparent 0 8px, @background-color 8px),
        linear-gradient(to right, @border-pink, @border-magenta),
        linear-gradient(to right, @border-pink, @border-magenta),
        linear-gradient(to bottom, @border-pink, @border-magenta),
        linear-gradient(to bottom, @border-pink, @border-magenta),
        linear-gradient(@background-color, @background-color),
        linear-gradient(@background-color, @background-color),
        linear-gradient(@background-color, @background-color),
        linear-gradient(@background-color, @background-color),
        linear-gradient(@background-color, @background-color);
    background-size:
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        calc(100% - 20px) 3px,
        calc(100% - 20px) 3px,
        3px calc(100% - 20px),
        3px calc(100% - 20px),
        calc(100% - 20px) calc(100% - 20px),
        calc(100% - 20px) 10px,
        calc(100% - 20px) 10px,
        10px calc(100% - 20px),
        10px calc(100% - 20px);
    background-position:
        top left,
        top right,
        bottom right,
        bottom left,
        top left,
        top right,
        bottom right,
        bottom left,
        top center,
        bottom center,
        center left,
        center right,
        center,
        top center,
        bottom center,
        center left,
        center right;
    background-repeat: no-repeat;
}
