@define-color selected-text #6e29ad;
@define-color text #f2f2e3;
@define-color base #241b30;
@define-color border #7f7094;
@define-color foreground #f2f2e3;
@define-color background #241b30;
@define-color bright_blue #aa54f9;
@define-color bright_magenta #ff00f6;

window {
    background-color: transparent;
    background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 34%, rgba(0, 0, 0, 0) 62%);
    transition: opacity 600ms ease;
}

window .box-wrapper,
#box {
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: opacity 600ms ease, background-color 600ms ease;
    background-image:
        linear-gradient(to bottom right, transparent 0 10px, @bright_blue 10px, @bright_magenta 13px, transparent 13px),
        linear-gradient(to bottom left, transparent 0 10px, @bright_blue 10px, @bright_magenta 13px, transparent 13px),
        linear-gradient(to top left, transparent 0 10px, @bright_blue 10px, @bright_magenta 13px, transparent 13px),
        linear-gradient(to top right, transparent 0 10px, @bright_blue 10px, @bright_magenta 13px, transparent 13px),
        linear-gradient(to bottom right, transparent 0 12px, @background 12px),
        linear-gradient(to bottom left, transparent 0 12px, @background 12px),
        linear-gradient(to top left, transparent 0 12px, @background 12px),
        linear-gradient(to top right, transparent 0 12px, @background 12px),
        linear-gradient(to right, @bright_blue, @bright_magenta),
        linear-gradient(to right, @bright_blue, @bright_magenta),
        linear-gradient(to bottom, @bright_blue, @bright_magenta),
        linear-gradient(to bottom, @bright_blue, @bright_magenta),
        linear-gradient(@background, @background),
        linear-gradient(@background, @background),
        linear-gradient(@background, @background),
        linear-gradient(@background, @background),
        linear-gradient(@background, @background);
    background-size:
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        calc(100% - 32px) 3px,
        calc(100% - 32px) 3px,
        3px calc(100% - 32px),
        3px calc(100% - 32px),
        calc(100% - 32px) calc(100% - 32px),
        calc(100% - 32px) 16px,
        calc(100% - 32px) 16px,
        16px calc(100% - 32px),
        16px calc(100% - 32px);
    background-position:
        top left,
        top right,
        bottom right,
        bottom left,
        top left,
        top right,
        bottom right,
        bottom left,
        top center,
        bottom center,
        center left,
        center right,
        center,
        top center,
        bottom center,
        center left,
        center right;
    background-repeat: no-repeat;
}
